{
  "env": {
    "es2022": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "rules": {
    "import/no-unresolved": [
      "error"
    ],
    "linebreak-style": 0,
    "import/extensions": [
      "error",
      {
        "js": "ignorePackages"
      }
    ]
  }
}